.home-headline {
  font-size: 20px;

  @include media-query($medium-up) {
    font-size: 28px;
  }

  @include media-query($large-up) {
    font-size: 36px;
  }
}

.T-HOME-hero {
  // Image is set in the 'featured-hero.liquid' section
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px; // height of header logo offset
  text-align: center;

  h1,
  h2 { color: #fff; }

  h1 { padding-top: 100px; font-size: 46px; }
  h2 { font-size: 22px; }

  height: 500px;
}