.home-headline {
  font-size: 20px;

  @include media-query($medium-up) {
    font-size: 28px;
  }

  @include media-query($large-up) {
    font-size: 36px;
  }
}

.T-HOME-hero {
  // Image is set in the 'featured-hero.liquid' section
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  h1,
  h2 { color: #fff; }

  height: 500px;
}