.O-header {
  background-color: $c-dark-brown;
  padding: 0.7rem 0;
  margin-bottom: 50px;

  h1 { margin: 0; }

  a {
    color: $c-beige;
    &:hover {
      color: $c-orange;
    }
  }

  .site-logo {
    margin-bottom: -40px;
  }
}

.O-header__cart {
  float: left;
  margin-right: 20px;
}

.O-header__search-input {
  padding: 0.3em;
}

.O-header__search-button {
  padding: 0.3em 0.5em;
  background-color: $c-orange;
  color: #fff;
}

.O-header-nav {
  ul { margin: 0; padding: 0; }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    color: $c-beige;
    font-size: 20px;
    padding: 0.5em 1em 0.5em 0;
    text-decoration: none;

    &:hover {
      color: $c-orange;
    }
  }
}